.custom-header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  color: purple; /* This should now work */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: top 0.3s;
  display: flex;
  justify-content: space-between;  /* This pushes items to the far ends of the container */
  align-items: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 0 15px;  /* Adding some padding so content isn't right against the edge */
}

.custom-header.hidden {
  top: -60px;
}

.banner-logo {
  width: 150px;
  height: auto;
  margin-right: 15px;  /* Some space between the image and the text, adjust as needed */
}

.logo-container {
  flex: 0; /* This means the logo container will not grow in proportion to its siblings */
}