.App {
  text-align: left;
  font-family: 'Arial', sans-serif; /* Adding a default font */
}


.content {
  font-family: 'Roboto', sans-serif;
  padding: 130px 50px 50px 80px;
  color: black; /* Moved from .App-header */
  min-height: calc(100vh - 60px); /* Adjusting for your header's height, assuming it's 60px */
  padding-bottom: 2000px;
}

.content h1 {
  font-size: 65px;  /* Adjust this value to your preference for the h1 tags */
}

.content p {
  font-size: 55px;  /* Adjust this value to your preference for the paragraph tags */
}

.titleWithImage {
  display: flex;
  align-items: right; /* This will vertically align the text and the image */
  justify-content: space-between; /* This will push the text and image apart to occupy the entire width */
}

.exampleImage {
  position: absolute;
  top: 140px;  /* Adjust as needed */
  right: 80px;  /* Adjust as needed */
  height: 600px; /* Adjust this based on your needs */
  width: auto; /* Maintains the aspect ratio */
  border: 2px solid lightskyblue;
  border-radius: 10px;
}

.UISection {
  position: absolute;
  top: 820px;
  left: 950px;
  width: 1450px;
  padding: 20px;
  min-height: 100vh; /* Adjust the height as necessary */
  font-family: 'Arial', sans-serif;
  text-align: left;
}

.textBackground {
  background-color: black;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 5px;
  color: white;  /* Optional: if you want white text on the black background */
}
